// USER PROFILE

.user-profile-wrapper {
  max-width: 100vw;
  height: 100vh;
  padding-top: 100px;
  background-color: $bg-color;
  .user {
    color: $brand-text;
    width: 80%;
    max-width: 1000px;
    .profile-picture-border {
      border: 10px solid;
      border-image-slice: 1;
      border-width: 3px;
      background: rgb(255,199,38);
      border-image: round;
      border-image-source: linear-gradient(45deg, rgba(255,199,38,1) 10%, rgba(255,97,36,1) 30%);
      border-radius: 50%;
    }
  }
  .user-stat {
    color: $brand-text;
    margin-left: 10px;
    .user-stat-text {
      font-size: 14px;
    }
    p {
      height: 30px;
      margin-bottom: 0;
    }
  }
  .profile-rule {
    display: none;
  }
  .user-posts {
    width: 100%;
    max-width: 1000px;
    height: auto;
    align-items: space-between;
    text-align: center;
    .placeholder-content {
      height: calc(100vh - 200px);
    }
    .post-thumbnail {
      width: $post-width;
      height: auto;
    }
    .post-thumbnail {
      position: relative;
    }
    .post-thumbnail:hover .post-thumbnail-stats {
      display: flex;
    }
    .post-thumbnail-stats {
      height: 100%;
      width: 100%;
      display: none;
      position: absolute;
      top:0;
      left: 0;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4);
      p {
        font-size: 30px;
        color: white;
        font-weight: bold;
      }
    }
    .post-thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: calc(100vw * 0.01);
    }
  }
  .profile-username {
    align-self: flex-start;
    padding-left: 10px;
    margin-top: 5px;
  }
  .user-controls {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .follow-button {
      background-color: $brand-yellow;
      border-color: $brand-yellow;
      color: $bg-color;
      border-radius: 20px;
      width: 100px;
    }
    .unfollow-button {
      background-color: $bg-color;
      border-color: $brand-orange;
      color: $brand-text;
      border-radius: 20px;
      width: 100px;
    }
  }
}

.verified-badge {
  font-size: 16px;
  margin-left: 5px;
  vertical-align: middle;
}