@media (min-width:600px) {
  .profile-image {
    height: 150px;
    width: 150px;
  }
  .profile-rule {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .user-stats {
    font-size: 20px;
    .user-stat-text {
      font-size: 20px;
      margin-top: 0;
    }
    .user-stat {
      margin-left: 40px;
    }
  }

  .user-controls {
    margin-top: 20px;
  }
  .timeline-wrapper {
    .timeline-controls {
      width: 500px !important;
    }
    .post-wrapper {
      border: 1px solid #222;
    }
  }

  .post-wrapper {
    height: auto;
    width: 500px; 
    .post-image-container {
      height: 500px;
      img {
        height: 100%;
      }
    }
  }

  .home-page {
    .homepage-content-wrapper {
      .homepage-content {
        text-align: left;
        img {
          width: auto;
        }
      }
    }
    h1 {
      font-size: 60px;
    }
    .home-image {
      float: right;
      height: 500px;
      background-size: cover;
    }
  }

  .login-form {
    max-width: 600px;
  }
}