// NAVBAR

.navbar{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100vw;
  z-index: 20;
  padding: 10px 0px;
  .navbar-brand {
    background-color: $bg-color;
    .nav-icon {
      margin-right: 5px;
    }
    a {
      font-family: 'Sacramento', cursive;
      font-size: 28px;
    }
  }
  .navbar-nav {
    font-size: 20px;
    .nav-item {
      width: 30px;
      margin-left: 10px;
      text-align: center;
    }
  }
    a {
    text-decoration: none;
    color: $brand-text;
  }
  color: $brand-text;
  .logout-button {
    border: none;
    background: none;
    color: $brand-text;
  }
}