// HOME PAGE
.home-page {
  padding-top: 80px;
  min-height: calc(100vh - $footer-height);
  min-width: 100vw;
  display: flex;
  align-items: center;
  background-color: $bg-color;
  color: $brand-text;
  .homepage-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .homepage-content {
      height: 100%;
      margin: 10px;
      // width: auto;
      text-align: center;
      z-index: 2;
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
      img {
        width: auto;
        z-index: 2;
      }
    }
  }
  h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 20px;
    font-size: 60px;
  }
  .home-image{
    height: 400px;
    background-size: cover;
    width: 100%;
    z-index: 2;
  }
  .hp-login {
    background: $brand-yellow;
    &:hover, &:focus {
      box-shadow: 0 0.5em 0.5em -0.4em $brand-yellow;
      transform: translateY(-0.25em);
      transition: 0.25s;
    }
    a {
      color: $bg-color;
    }
  }
  .hp-register {
    margin-left: 10px;
    background: $brand-orange;
    &:hover, &:focus {
      box-shadow: 0 0.5em 0.5em -0.4em $brand-orange;
      transform: translateY(-0.25em);
      transition: 0.25s;
    }
    a {
      color: $brand-text;
    }
  }
  .btn {
    border-radius: 30px;
    transition: 0.25s;
    a {
      font-size: 16px;
      background: none;
      text-decoration: none;
    }
  }
}

/* Animated Circles CSS */

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 90vw;
	height: 60vh;
	z-index: 0;
}

$dot-opacity: 0.17;

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
  background-color: $brand-orange;
	animation: animate 25s linear infinite;
	bottom: calc(-40vh);
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	background: rgba(255, 199, 38, $dot-opacity);
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	background: rgba(255, 97, 36, $dot-opacity);
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	background: rgba(255, 199, 38, $dot-opacity);
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
	background: rgba(255, 97, 36, $dot-opacity);
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	background: rgba(255, 199, 38, $dot-opacity);
}

.circles li:nth-child(6) {
	left: 75%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	background: rgba(255, 97, 36, $dot-opacity);
}

.circles li:nth-child(7) {
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 30s;
	border-radius: 50%;
	background: rgba(255, 199, 38, $dot-opacity);
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
	animation-duration: 35s;
	border-radius: 50%;
	background: rgba(255, 97, 36, $dot-opacity);
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 0s;
	animation-duration: 40s;
	border-radius: 50%;
	background: rgba(255, 199, 38, $dot-opacity);
}

.circles li:nth-child(10) {
	left: 85%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 45s;
	border-radius: 50%;
	background: rgba(255, 97, 36, $dot-opacity);
}

.circles li:nth-child(11) {
	left: 35%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 45s;
	border-radius: 50%;
	background: rgba(255, 97, 36, $dot-opacity);
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 0;
	}
}